
asgiref==3.10.0

cachetools==6.2.0

certifi==2025.10.5

charset-normalizer==3.4.3

colorama==0.4.6

decorator==5.2.1
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docx2pdf==0.1.8
google-auth==2.41.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
lxml==6.1.0
moviepy==2.2.1
numpy==2.2.6
pillow==11.3.0
proglog==0.1.12
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
PyPDF2==3.0.1
python-docx==1.2.0
python-decouple==3.8
python-dotenv==1.1.1
pywin32==311
reportlab==4.4.4
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
